.git
node_modules
.next
.pnpm-store
**/.cache
**/.ruff_cache
**/.pytest_cache
**/.mypy_cache
.nyc_output
coverage
htmlcov
.coverage
.eslintcache
.prettier-cache
*.tsbuildinfo
.env
.env.*
!.env.example
**/__pycache__
*.py[cod]
.venv
venv
.vscode
.idea
.devcontainer
.DS_Store
*.log
